.container {
  text-align: left;
  margin-left: 4vmin;
  flex-grow: 9;
  max-width: calc(100vw * 0.5);
}

.containerMobile {
  text-align: left;
  margin-left: 4vmin;
  flex-grow: 9;
  max-width: calc(100vw * 0.9);
}