.container {
    flex-grow: 3;
    border-right: 2px solid #484848;
    background: linear-gradient(180deg, rgba(134,147,98,1) 0%, rgba(29,121,9,1) 35%, rgba(80,203,228,1) 100%);
}

.containerMobile {
    flex-grow: 3;
    border-bottom: 2px solid #484848;
    background: linear-gradient(180deg, rgba(134,147,98,1) 0%, rgba(29,121,9,1) 35%, rgba(80,203,228,1) 100%);
}